/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

body {
  color: #000c04;
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

/* HEADER */
header {
  background-color: #fff;
  height: 80px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  display: flex;
  align-items: center;
}

.fixed-top {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1000;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  color: #189a46;
}

.nav-link {
  color: #000c04;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #189a46;
  transition: all 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #189a46;
}

.header__content .nav-link.active {
  color: #189a46;
}

/* CAROUSEL */
.carousel {
  position: relative;
}

.owl-carousel .owl-item {
  min-height: 1px;
}

.carousel .item .banner-view {
  background: url(../img/banner1.jpeg) no-repeat center;
  min-height: calc(100vh - 40px);
  position: relative;
  z-index: 0;
  display: grid;
  align-items: center;
  padding: 3em 0;
}

.carousel .item .banner-view::before {
  content: "";
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #0c0c0c;
  opacity: 0.6;
}

.carousel .item .banner-top1 {
  background-image: url(../img/banner2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel .item .banner-top2 {
  background-image: url(../img/banner3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel .item .banner-top3 {
  background-image: url(../img/banner4.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel .item .banner-info-bg {
  max-width: 700px;
  text-align: left;
}

.carousel .item .banner-info-bg h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

.carousel .item .banner-info-bg p {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
  font-size: 1.2em;
}

.btn-white {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
}

.border-btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 35px;
}

.border-btn:hover {
  color: #189a46;
  background-color: #fff;
}

.btn-style {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: all 0.3s;
  border-radius: 10px;
}

.owl-dots {
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.owl-dots button.owl-dot {
  padding: 1px 6px !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background-color: #fff;
  display: block;
  border-radius: 25px;
  position: relative;
  opacity: 0.9;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
  height: 10px;
}

/* ABOUT */
.about .about__content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.about .about__content h6 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: #f53626;
}

.about .about__content h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
}

p {
  font-size: 1.2em;
  line-height: 28px;
  color: #696969;
}

a.read {
  font-size: 17px;
  padding: 0;
  border-bottom: 2px solid #189a46;
  color: #000c04;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
  transition: all 0.3s;
}

a.read:hover {
  color: #189a46;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* FEATURES */
.features {
  background-color: rgba(147, 107, 232, 0.05);
}

.features .row .col__content {
  padding: 40px 30px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}
.features .row .col__content:hover {
  background-color: rgba(147, 107, 232, 0.05);
}

.features .icon i {
  color: #189a46;
  font-size: 30px;
}

.features .col__content h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  display: block;
  color: #000c04;
  text-decoration: none;
}

.features .col__content h4 a:hover {
  color: #189a46;
}

/* start statistic */

.statistic {
  background: #189a46;
  padding: 80px 0;
  color: #fff;
  padding: 48px 0;
}

.statistic_list {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.statistic .statistic_item {
  width: 25%;
}
.statistic_list .statistic_item h2 {
  font-size: 60px;
}
.statistic_list .statistic_item p {
  font-size: 20px;
  color: #fff;
  opacity: 0.5;
}

/* end statistic */

/* start plan */

.plan {
  padding: 80px 0;
  background-color: rgba(147, 107, 232, 0.05);
}

.plan .header {
  text-align: center;
}

.plan .list .content1 {
  border-radius: 20px;
}

.plan .header h6 {
  font-size: 35px;
  color: #f53626;
  margin-bottom: 10px;
}
.plan .header h3 {
  font-size: 45px;
  margin-bottom: 48px;
}
.plan .list {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.plan .list h6 {
  font-size: 25px;
}

.plan .list h4 {
  font-size: 40px;
  color: #189a46;
  margin: 15px 0 20px;
}
.plan .list h4 label {
  font-size: 25px;
  vertical-align: text-top;
}

.plan .list h4 span {
  font-size: 16px;
  color: #999;
}

.plan .list p {
  font-size: 18px;
  padding-top: 6px;
}

.plan .list button {
  padding: 12px 35px;
  font-size: 18px;
  color: #fff;
  background-color: #189a46;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

.plan .list .headcontent {
  background-color: #189a46;
  color: #fff;
}
.plan .list .headcontent1 {
  padding: 10px 0;
}

.plan .list .headcontent1 h4 {
  color: #fff;
}
.plan .list .headcontent1 h4 span {
  color: #fff;
}

.plan .list .headcontent1 h5 {
  font-size: 15px;
  padding: 8px 20px;
  background-color: #fff;
  color: #189a46;
  display: inline-block;
  border-radius: 10px;
  margin-top: 20px;
}

/* end plan */

/* start information */
.information {
  padding: 80px;
  text-align: center;
}

.information .header h6 {
  font-size: 18px;
  color: #f53626;
}
.information .header h3 {
  font-size: 40px;
}
.information .header p {
  font-size: 1.2em;
}

.information .media img {
  border-radius: 10px;
}

.information .media i {
  background: #fff;
  display: inline-block;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
}
/* end information */

/* start testimonial */

.testimonial {
  padding: 80px 0;
  background-color: rgba(147, 107, 232, 0.05);
  text-align: center;
}

.testimonial .carousel {
  display: flex;
  background-color: #f3f1f8;
}

.testimonial .header h6 {
  font-size: 18px;
  color: #f53626;
}

.testimonial .header h3 {
  font-size: 40px;
  margin-bottom: 48px;
}

.testimonial .carousel .content {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 10px;
}

.testimonial .carousel .content_img {
  display: flex;
}
.testimonial .carousel .image {
  height: 70px;
  width: 70px;
}
.testimonial .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.testimonial .carousel .name {
  margin-left: 20px;
}

.testimonial .carousel .name h3 {
  margin: 0;
  margin-top: 6px;
  font-size: 20px;
}

.testimonial .carousel .name p {
  font-size: 17px;
  color: #777;
  opacity: 0.8;
  margin-top: 3px;
}
/* endtestimonial */

/* start subscription */

.subscription {
  padding: 80px 0;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
}

.subscription .header h3 {
  font-size: 40px;
}

.subscription .mail {
  display: flex;
  margin-top: 48px;
}

.subscription .mail .input {
  flex-basis: 70%;
  height: 60px;
  font-size: 16px;
  border-radius: 10px;
}

.subscription .mail .button {
  background-color: #189a46;
  flex-basis: 25%;
  font-size: 18px;
  border-radius: 10px;
  transition: all 0.5s ease-in;
}

.subscription .mail .button:hover {
  background-color: #116e32;
}

/* end subscription */
